.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    border: 1px;
    border-radius: 1;
    border-color:orange;
}
.input {
    border-color: orange;
    border: 1px;
    border-width: 1;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    color:orange;
}

.nextui-c-cgxxHA {
     background-color:orange;
}
