/*  Yellow Button    */
.yellow_button {
    display: flex;
    align-items: center;
    background-color: rgb(253, 236, 139);
    color: rgb(47, 55, 58);
    border-radius: 3px;
  }
  
  .yellow_button:hover {
    border-color: rgb(233, 198, 0);
    border-width: 3px;
  }
  /*  /Yellow Button    */
  
  